.panel {
    background-color: rgba(0, 0, 0, 0.84);
}

.ButtonHover:hover {
    -unity-background-image-tint-color: rgb(200, 200, 200);
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.ButtonPressed:active {
    -unity-background-image-tint-color: rgb(103, 103, 103);
}

.unity-tab__content-container {
    flex-grow: 1;
}

.unity-tab-view__content-container {
    flex-grow: 1;
}

.unity-tab-view__header-container {
    flex-grow: 1;
}

.unity-base-text-field__input {
    background-color: rgba(50, 50, 50, 0.84);
}

.unity-tab__header {
    background-color: rgba(50, 50, 50, 0.84);
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    height: 39px;
}

.unity-text-element {
    color: rgb(255, 255, 255);
}

.unity-tab-view__content-viewport {
    height: 39px;
}

.unity-scroller {
    opacity: 0.03;
}
