.ButtonHover:hover {
    -unity-background-image-tint-color: rgb(200, 200, 200);
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.ButtonPressed:active {
    -unity-background-image-tint-color: rgb(103, 103, 103);
}

.unity-tab__content-container {
    flex-grow: 1;
}

.unity-tab-view__content-container {
    flex-grow: 1;
}

.unity-tab-view__header-container {
    flex-grow: 1;
}

.unity-base-text-field__input {
    background-color: rgba(50, 50, 50, 0.84);
}

.unity-tab__header {
    background-color: rgba(50, 50, 50, 0.84);
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    height: 39px;
}

.unity-text-element {
    color: rgb(255, 255, 255);
}

.unity-tab-view__content-viewport {
    height: 39px;
}

.unity-scroller {
    opacity: 0.03;
}

.CurrentSong {
    background-color: rgba(165, 218, 248, 0.33);
}

.unity-button {
    background-color: rgba(0, 0, 0, 0.67);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    -unity-background-image-tint-color: var(--accent);
}

.context-menu {
    position: absolute;
    display: none;
    width: 180px;
    background-color: rgba(40, 40, 40, 0.13);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.18);
    border-bottom-color: rgba(0, 0, 0, 0.18);
    border-left-color: rgba(0, 0, 0, 0.18);
    border-right-color: rgba(0, 0, 0, 0.18);
}

.context-menu-separator {
    background-color: rgba(255, 255, 255, 0.56);
    height: 1px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.unity-base-slider__fill {
    background-color: rgb(0, 0, 0);
}

.accentImageTint {
    -unity-background-image-tint-color: rgb(255, 191, 0);
}

.accentBackgroundColor {
    background-color: rgb(255, 191, 0);
}

.accentColor {
    color: rgb(255, 191, 0);
}

.unity-list-view__item--selected {
    background-color: rgba(255, 255, 255, 0.56);
}

.unity-base-slider__dragger {
    background-color: rgb(197, 148, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.unity-base-slider--horizontal .unity-base-slider__tracker {
    background-color: rgb(197, 148, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.Panel {
    background-color: rgba(0, 0, 0, 0.69);
}
